<div class="container">
    <h1>{{name}}</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <strong>Ubicación</strong>
            <br>
            {{zone}}
        </div>
        <div class="col-md-4">
            <strong>Descripción</strong>
            <br>
            {{description}}
        </div>
        <div class="col-md-4">
            <strong>Apertura de la estación</strong>
            <br>
            {{dateOpen}}
        </div>
        <div class="col-md-4">
            <strong>Cierre de la estación</strong>
            <br>
            {{dateClose}}
        </div>
        <h5>Información de pistas</h5>
        <div class="col-md-4">
            <strong>kilometros esquiables</strong>
            <br>
            {{stationInfo.kmSlopes}}
        </div>
        <div class="col-md-4">
            <strong>Total de pistas</strong>
            <br>
            {{stationInfo.numberOfslopes}}
        </div>
        <div class="col-md-4">
            <strong>Total de snowparks</strong>
            <br>
            {{stationInfo.snowpark}}
        </div>
        <div class="col-md-4">
            <strong>Mapa de pistas</strong>
            <br>
            <a href="{{stationInfo.mapSlopes}}">mostrar</a>
        </div>
        <h5>Numero de pistas por tipo</h5>
        <div class="col-md-4">
            <strong>Pistas azules</strong>
            <br>
            {{stationInfo.slopesLevel.blueSlopes}}
        </div>
        <div class="col-md-4">
            <strong>Pistas verdes</strong>
            <br>
            {{stationInfo.slopesLevel.greenSlopes}}
        </div>
        <div class="col-md-4">
            <strong>Pistas rojas</strong>
            <br>
            {{stationInfo.slopesLevel.redSlopes}}
        </div>
        <div class="col-md-4">
            <strong>Pistas negras</strong>
            <br>
            {{stationInfo.slopesLevel.blackSlopes}}
        </div>
        <h5>Cotas de la estación</h5>
        <div class="col-md-4">
            <strong>Cota maxima</strong>
            <br>
            {{stationInfo.cote.maxCote}}
        </div>
        <div class="col-md-4">
            <strong>Cota minima</strong>
            <br>
            {{stationInfo.cote.minCote}}
        </div>
        <div class="col-md-4">
            <strong>Forfait diario</strong>
            <br>
            {{stationInfo.priceDay}}
        </div>
        <div class="col-md-4">
            <strong>Aforo maximo de la estación</strong>
            <br>
            {{stationInfo.capacity}}
        </div>

        <hr>
        <strong>Eventos</strong>
        <br>
        <div class="col-md-4">

            {{#each events}}
            {{title}}
            {{date}}
            {{description}}
            <img src="{{imageEvent}}" alt="Imagen del evento">
            {{/each}}
        </div>
        <strong>Comentarios</strong>

        <form action="/stations/{{id}}" method="POST">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <textarea name="description" rows="10" cols="40" placeholder="Deja tu comentario"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-block">enviar</button>
        </form>
        <hr>
        {{#each comments}}
        <div class="col-md-4">
            {{title}} {{description}} {{username}}
        </div>
        <form action="/stations/delete/{{_id}}" method="POST">
            <button type="submit" class="btn btn-warning btn-block">eliminar</button>
        </form>
        <form action="/stations/edit/comment/{{_id}}" method="GET">
            <button type="submit" class="btn btn-warning btn-block">editar</button>
        </form>
        {{/each}}

    </div> 
    <form action="/favs/{{id}}" method="POST">
         <button type="submit" class="btn btn-danger">Añadir a favoritos</button> 
        </form>    
    <a href="/stations/edit/{{id}}" class="btn btn-warning">Editar</a> 
    <a href="/stations" class="btn btn-dark">Volver</a>
