<div class="container text-center newEventCss ">
    <br>
    <br>
    <br>
    <h1>Edita tu perfil {{user.username}}</h1>
    <br>
    <img src={{user.photoProfile}}>
    <p> Nombre: {{user.username}}</p>
    <p> Correo: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>

    <a href="/profile/edit/" class="btn btn-primary">Editar perfil</a>
</div>